body {
    background-color: white;
}

#navhome {
    position: absolute;
    width: 57px;
    height: 26px;
    left: 1000px;
    top: 85px;
    
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
}

#navabout {
    position: absolute;
width: 57px;
height: 26px;
left: 1095px;
top: 85px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
}

#navquiz {
    position: absolute;
width: 121px;
height: 26px;
left: 1192px;
top: 85px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 26px;
}

#companyname {
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

position: absolute;
width: 179px;
height: 58px;
left: 155px;
top: 69px;

background: #D9D9D9;
border-radius: 7px;
}

#hook {
    position: absolute;
width: 531px;
height: 152px;
left: 155px;
top: 271px;

font-family: 'DM Sans';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 47px;
}